/* 页面全局样式 */
@font-face {
    font-family: 'Mi Sans';
    src: url('../fonts/MiSans-Regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Mi Sans';
    src: url('../fonts/MiSans-Semibold.woff2');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Mi Sans';
}

/* 不显示页面一级标题 */
h1.title {
    display: none;
}

/* 设置页面主承载框架样式 */
body {
    margin: 0 auto;
    width: 640px;
    overflow-x: hidden;
    background: #000;
    counter-reset: list-item 0;
    text-autospace: normal;
}

/* 顶部样式 */
header {
    overflow: hidden;
}

/* 设置顶部图片样式 */
header figure {
    position: relative;
    height: 246px;
}

header figure img,
header figure embed {
    width: 100%;
    height: 100%;
}

header figure figcaption {
    width: auto;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 1;
    text-align: center;
    font-size: 24px;
}

/* 设置主要内容区域样式-内边距 */
section {
    padding: 28px;
}

/* 强制居中当前时间标题和节气文本 */
section h2,
section p:nth-of-type(1) {
    text-align: center !important;
}

/* 新闻内容文本样式 */
section h2 {
    font-size: 1.8em;
    font-weight: 700;
}

section p {
    font-size: 25px;
    padding: 16px 0;
    text-align: justify;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* 新闻内容标志开头设置 */
section p::before {
    display: inline-block;
    counter-increment: list-item;
    content: counter(list-item, decimal-leading-zero);
    margin-right: 6px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 6px;
    line-height: 1;
    width: 36px;
    padding: 4px;
    text-align: center;
}

section p:nth-of-type(1) {
    border-bottom: none !important;
    font-size: 24px !important;
}

section p:nth-of-type(1)::before {
    counter-increment: none;
    display: none;
}

/* “置顶新闻”样式 */
section p:nth-of-type(2) {
    margin: 10px auto;
    padding: 0;
    border-radius: 2px;
    border-bottom: none;
    outline-width: 8px;
    outline-style: solid;
}

/* 底部版权页样式 */
footer {
    position: relative;
    padding: 20px 28px 28px;
}

footer p {
    font-size: 25px;
    padding-bottom: 20px;
}

footer blockquote {
    padding-right: 12px;
    border-left-width: 0.5em;
    border-left-style: solid;
}

footer blockquote p {
    padding: 0 12px;
}

footer figure figcaption {
    display: none;
}

footer figure img[title="qrcode"] {
    position: absolute;
    width: 75px;
    right: 28px;
    bottom: 28px;
}
