/* 顶部样式 */
header {
    overflow: hidden;
    background: #333;
}

/* 设置顶部图片样式 */
header figure {
    position: relative;
    width: 640px;
    height: 246px;
}

header figure img,
header figure embed {
    width: 100%;
    height: 100%;
}

header figure figcaption {
    width: auto;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.8;
    text-align: center;
    font-size: 24px;
    background: #333;
}
