/* 全局样式（页面字体、页面主承载框架、Reset CSS） */
@import './global.css';

/* 设置页面主承载框架样式 */
body {
    color: #fff;
}

/* 设置顶部图片样式 */
header figure figcaption {
    background: #ac0000;
}

/* 设置主要内容区域样式-内边距 */
section {
    background: #ac0000;
}

/* 新闻内容文本样式 */
section p {
    border-bottom-color: #cccc00;
}

/* 新闻内容标志开头设置 */
section p::before {
    background: #cccc00;
    color: #222;
}

/* “置顶新闻”样式 */
section p:nth-of-type(2) {
    background: #cccc00;
    color: #222;
    outline-color: #cccc00;
}

section p:nth-of-type(2)::before {
    background: #222;
    color: #cccc00;
}

/* 底部版权页样式 */
footer {
    background: #770000;
}

footer blockquote {
    border-left-color: #fff;
}