name: Create NewsPhoto
on:
  workflow_dispatch:
    inputs:
      news_txt:
        description: '新闻源 URL'
        required: true
        type: string
      greeting:
        description: '问候语'
        required: false
        default: '……'
        type: string
      style:
        description: '主题样式'
        required: true
        default: 'light'
        type: choice
        options:
          - light
          - dark
          - springfestival

jobs:
  create_and_release_newsphoto:
    name: Create & Release NewsPhoto
    runs-on: windows-latest
    steps:
    - name: Set timezone (UTC+8) and get current time
      id: get_current_time
      run: |
        tzutil /s "China Standard Time"
        $current_time = Get-Date -UFormat '%Y%m%d-%H%M%S'
        "current_time=$current_time" >> $env:GITHUB_OUTPUT

    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        repository: WitherZuo/NewsPhoto

    - name: Install uv and Python
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.21"
        enable-cache: true

    - name: Install dependencies
      run: |
        uv sync --no-dev
        choco install -y pandoc

    - name: Get news source
      run: Invoke-WebRequest ${{ inputs.news_txt }} -OutFile .\news.txt

    - name: Create markdown sources and convert to HTML
      run: uv run --no-sync main.py --greeting "${{ inputs.greeting }}" --style ${{ inputs.style }}

    - name: Generate screenshot
      run: uv run --no-sync save-as-image.py --browser chrome

    - name: Upload NewsPhoto - Webpage
      uses: actions/upload-artifact@v5
      with:
        name: newsphoto-webpage
        path: outputs/NewsPhoto.html

    - name: Upload NewsPhoto - Image
      uses: actions/upload-artifact@v5
      with:
        name: newsphoto-image
        path: outputs/NewsPhoto.png

    - name: Create new tag
      uses: actions/github-script@v8
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/${{ steps.get_current_time.outputs.current_time }}',
            sha: context.sha
          })

    - name: Create new NewsPhoto release
      run: |
        gh release create "${{ steps.get_current_time.outputs.current_time }}" `
        ".\outputs\NewsPhoto.png#NewsPhoto - Image" `
        ".\outputs\NewsPhoto.html#NewsPhoto - Webpage" `
        --title "${{ steps.get_current_time.outputs.current_time }}" `
        --notes "NewsPhoto-${{ steps.get_current_time.outputs.current_time }}" `
        --verify-tag
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
